---
---

$fn: 'Fira Code', monospace;
$bg: #fff;
$fg: #050505;

$darkest: lighten($fg, 25%);
$brightest: darken($bg, 25%);
$darker: lighten($darkest, 15%);
$brighter: darken($brightest, 15%);

$accent: mix($fg, #2c4d6c, 10%);
$border-size: thin;
$default-transition: 0.2s linear;

// Defines the even separation used.
$div-pad: 0.75rem;
@media only screen and (max-width: 768px) {
    $div-pad: .5rem;
}

::selection {
    background: $brighter;
    color: $darkest;
}
::-moz-selection {
    background: $brighter;
    color: $darkest;
}

.darker {
    color: $darker;
}
.brighter {
    color: $brighter;
}
.brightest {
    color: $brightest;
}
.accent {
    color: $accent;
}

html {
    font-size: 100%;
}

body {
    margin: auto;
    max-width: 50rem;
    padding: $div-pad;

    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;

    background: $bg;
    color: $fg;
    
    font-family: $fn;
    font-display: swap;

    line-height: 1.5;
    word-wrap: break-word;
    
    transition: all $default-transition;

    // boxes
    div {
        border: $border-size solid $darkest;

        div {
            border: $border-size solid $darker;
        }
    }

    :not(:only-child) {
        margin-bottom: $div-pad;
    }

    :last-child:not(:only-child) {
        margin-bottom: 0;
    }
}

div {
    padding: $div-pad;
    border: $border-size solid $fg;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
hr {
    color: $accent;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: underline solid $fg;
}

img {
    object-fit: cover;
    width: 50rem - $div-pad * 2;
    padding: 0 $div-pad;
}

blockquote {
    color: $brighter;
    margin: 0 $div-pad;
}