h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  line-height: 1.25;
}

ol li {
  line-height: 2;
}
ul li {
  line-height: 2;
}

/* footnotes */
ol li ul {
  list-style: lower-alpha;
}

body {
  margin: 2rem auto;
  padding: 0 3vw;
  max-width: 45rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  word-wrap: break-word;
}

footer {
  font-size: 0.75rem;
}

table {
  table-layout: fixed;
  border-spacing: 1rem;
}

article img {
  margin: auto;
  padding: 0.5rem;
  max-width: calc(100% - 1rem);
  border: 1px solid black;
}

pre {
  overflow: auto;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
}

blockquote {
  padding-left: 2rem;
  border-left: 0.5rem solid black;
}

.no-list {
  list-style: none;
  padding-left: 0;
}

