:root {
    --oblack: #0f0f0f;
    --grey: #3f3f3f;
    --owhite: #fdfdfd;
}

body {
    margin: 1em;
    color: var(--oblack);
    background: black;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    line-height: 1.5;
    word-wrap: break-word;
}

a, a:visited, a:active {
    color: var(--grey);
    text-decoration: none;
}

a:hover {
    color: calc(var(--grey) + #111111);
}

#plot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
    overflow: hidden;
}

.card {
    height: 100vh;
    width: 100%;
    background: var(--owhite);
}

.cardcontent {
    position: relative;
    padding: 2%;
}

#username {
    font-size: 3em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#landcontainer {
    background: none;
    color: var(--owhite);
    padding: 0;
}

#land {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

#rest {
    opacity: 0;
    transition: opacity 1.3s cubic-bezier(.27,.52,.86,.63);
}

@media screen and (max-aspect-ratio: 5/7) {
    body {
        font-size: 1em;
    }
}