@import url('https://fonts.googleapis.com/css?family=Lora|M+PLUS+Rounded+1c&display=swap&subset=japanese');

:root {
	--bg: #f0eceb;
	--fg: #62351f;
	--rd: #e77d63;
	--fn: 'Lora', sans-serif;
	--jp: 'M PLUS Rounded 1c', sans-serif;
	--size: 4vw;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: var(--bg);
	color: var(--fg);
	font-family: var(--fn);
	font-size: var(--size);
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: .4;
}

div * {
	display: block;
}

a {
	color: var(--fg);
	text-decoration: none;
	transition: text-decoration .3s linear;
}

a:hover {
	text-decoration: underline dotted var(--rd);
}

.accent {
	color: var(--rd);
	font-family: var(--jp);
}

#spotlight {
	position: absolute;
	width: calc(var(--size) * 4);
	height: calc(var(--size) * 4);
	pointer-events: none;
	background: white;
	border-radius: 100%;
	mix-blend-mode: difference;
	opacity: 0;
	transition: opacity .4s ease-in;
}

@media screen and (max-width: 500px) {
	:root {
		--size: 2em;
	}
}