/*
expanded css file for easy reading
the organization is very unclear, but it goes something like:
  1. imports
  2. base rules
  3. class rules
  4. id specific rules
*/

@import "https://fonts.googleapis.com/css?family=Raleway";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  /* NOTE TO SELF: Adjust this value when ready to add scrolling content */
  overflow: hidden;
}

a {
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

p {
  font-weight: lighter;
}

.holder, .first {
  height: 100vh;
  width: 100vw;
}

.holder {
  position: relative;
  z-index: 1;
}

.first {
  /* Shoutout to uigradients.com */
  background: #c2e59c;
  background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4);
  background: linear-gradient(to left, #c2e59c , #64b3f4);
  z-index: 10;
  position: absolute;
}

.displaytag {
  margin-top: calc(50vh - 75px);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.ghostbutton {
  margin-top: 1vh;
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghostbutton:hover, .ghostbutton:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.contact {
  display: none;
}

.title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title:hover {
  cursor: default;
}

.textlink {
  display: block;
  margin-top: 1vh;
}
.textlink:hover {
  cursor: hand;
  cursor: pointer;
}

#contactbutton:hover {
  cursor: hand;
  cursor: pointer;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1000;
}
