/*
expanded css file for easy reading
the organization is very unclear, but it goes something like:
  1. imports
  2. base rules
  3. class rules
  4. id specific rules
*/

@import "https://fonts.googleapis.com/css?family=Roboto";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* NOTE TO SELF: Adjust this value when ready to add scrolling content */
  overflow: hidden;
}

a {
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

p {
  font-weight: lighter;
}

.holder, .first, .second, .third {
  height: 100vh;
  width: 100vw;
}

.first, .second, .third {
  position: absolute;
}

.second, .third {
  opacity: 0;
}

.holder {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.first {
  animation: first 10s infinite;
  background: linear-gradient(#9ba6df, #4546b8);
  z-index: 10;
}
  @keyframes first {
    0% {opacity: 1.0;}
    10% {opacity: 0.8;}
    20% {opacity: 0.6;}
    30% {opacity: 0.4;}
    40% {opacity: 0.2;}
    50% {opacity: 0.1;}
    60% {opacity: 0.2;}
    70% {opacity: 0.4;}
    80% {opacity: 0.6;}
    90% {opacity: 0.8;}
    100% {opacity: 1.0;}
  }

.second {
  animation: second 10s infinite; animation-delay: 2s;
  background: linear-gradient(#19eaa6, #00a1f0);
  z-index: 20;
}
  @keyframes second {
    0% {opacity: 0;}
    10% {opacity: 0.2;}
    20% {opacity: 0.4;}
    30% {opacity: 0.6;}
    40% {opacity: 0.8;}
    50% {opacity: 1.0;}
    60% {opacity: 0.8;}
    70% {opacity: 0.6;}
    80% {opacity: 0.4;}
    90% {opacity: 0.2;}
    100% {opacity: 0;}
  }

.third {
  animation: third 10s infinite;
  animation-delay: 8s;
  background: linear-gradient(#ed5555, #3fa646);
  z-index: 30;
}
  @keyframes third {
    0% {opacity: 0;}
    10% {opacity: 0.2;}
    20% {opacity: 0.4;}
    30% {opacity: 0.6;}
    40% {opacity: 0.8;}
    50% {opacity: 1.0;}
    60% {opacity: 0.8;}
    70% {opacity: 0.6;}
    80% {opacity: 0.4;}
    90% {opacity: 0.2;}
    100% {opacity: 0;}
  }

.displaytag {
  margin-top: calc(50vh - 75px);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.contact {
  display: none;
}

.title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title:hover {
  cursor: default;
}

.textlink {
  display: block;
  margin-top: 1vh;
}
.textlink:hover {
  cursor: hand;
  cursor: pointer;
}

.ghostbutton {
  margin-top: 1vh;
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghostbutton:hover, .ghostbutton:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.darkghostbutton {
  margin-top: 1vh;
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: #000;
  border: 2px solid #000;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.darkghostbutton:hover, .darkghostbutton:active {
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

#contactbutton:hover {
  cursor: hand;
  cursor: pointer;
}

#fronttitle {
  display: none;
}
