/*
expanded css file for easy reading
the organization is very unclear, but it goes something like:
  1. imports
  2. base rules
  3. class rules
  4. id specific rules
*/

@import "https://fonts.googleapis.com/css?family=Raleway";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  /* NOTE TO SELF: Adjust this value when ready to add scrolling content */
  overflow: hidden;
}

a {
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

p {
  font-weight: lighter;
}

.holder {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

.first {
  /* Shoutout to uigradients.com */
  background: #16222A;
  background: -webkit-linear-gradient(to left, #16222A , #3A6073);
  background: linear-gradient(to left, #16222A , #3A6073);
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.second {
  background: #E6DADA;
  background: -webkit-linear-gradient(to left, #E6DADA , #274046);
  background: linear-gradient(to left, #E6DADA , #274046);
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.third {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848);
  background: linear-gradient(to left, #4b6cb7 , #182848);
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.fourth {
  background: #2BC0E4;
  background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6);
  background: linear-gradient(to left, #2BC0E4 , #EAECC6);
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.displaytag {
  margin-top: calc(50vh - 75px);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.ghostbutton {
  margin-top: 1vh;
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghostbutton:hover, .ghostbutton:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.contact {
  display: none;
}

.title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title:hover {
  cursor: default;
}

.textlink {
  display: block;
  margin-top: 1vh;
}
.textlink:hover {
  cursor: hand;
  cursor: pointer;
}

#contactbutton:hover {
  cursor: hand;
  cursor: pointer;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1000;
}
