@import "code";

.post-meta {
  border: var(--border-width) solid var(--black);
  padding: 1rem;
}

.post-meta h1 {
  font-size: 2em;
  margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  visibility: hidden;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  visibility: visible;
}

.post-meta p {
  margin: 0;
  font-size: 0.95em;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.footnotes {
  border-top: var(--border-width) solid var(--black);
  padding-top: 1rem;
  margin-top: 1rem;
}

details {
  border: var(--border-width) solid var(--black);
  padding: 1rem;
}

.post-meta > details {
  border: 0;
  padding: 0;
  font-size: 0.75em;
}

.post-meta > details ol {
  list-style: disc;
  margin: 0;
}

summary {
  cursor: pointer;
}

/*
In the future, these will be the styles for some minimal tooltips
for a post's edit history.
*/
.edit-hint {
  font-style: italic;
}

.edit-why {
  position: relative;
  display: inline-block;
}

.edit-why span {
  z-index: 1;
  position: absolute;

  bottom: 1em;
  right: 1em;
  padding: 0.5em;
  background: var(--white);
  border: var(--border-width) solid var(--black);
}

aside {
  padding: 1em;
  border: var(--border-width) solid var(--hl);
}

aside > p {
  margin: 0;
}

h1:has(+ .title-tl) {
  margin-bottom: 0;
  border-bottom: var(--border-width) solid var(--black);
  width: fit-content;
}

.title-tl {
  margin-top: 0;
  width: fit-content;
  font-size: 0.8em;
}

.jp {
  writing-mode: vertical-rl;
}

.blood {
  color: #ff3939;
}

.coffeemapmarker {
  background: var(--white);
  color: var(--black);
}
