---
layout: layouts/default.njk
---

<div>
    <a href="{{ '/' | url }}">krashanoff</a> / <a href="{{ '/reading' | url }}">reading</a>
</div>
<article>
    <h1>{{ page.fileSlug }}</h1>
    {% if updated %}<small><date>Last updated {{ updated | datePlain }}</date></small>{% endif %}
    {{ content | safe }}
</article>
