---
---

<!DOCTYPE html>
<html>

<head>
  <title>Leonid Krashanoff - Resume</title>
  <meta title="description" content="Leonid Krashanoff's resume">
  <link rel="icon"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAC4jAAAuIwF4pT92AAAADElEQVQImWOoX/UGAAPBAhajZVPkAAAAAElFTkSuQmCC"
    type="image/png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ '/resume.css' | url }}" />
  <script src="https://kit.fontawesome.com/7f416a4c75.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="noprint">
    <p><b>Assuming you have a browser modern enough to support <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media#media_types"><code>@media print</code>
          queries</a>, this page prints correctly using your system dialog on standard <a
          href="https://en.wikipedia.org/wiki/Letter_(paper_size)">U.S. Letter stock</a>.</b></p>
    <br />
  </div>

  <table>
    <tbody>
      <tr>
        <td class="ignore-align"
          style="display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center;">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAC4jAAAuIwF4pT92AAAADElEQVQImWOoX/UGAAPBAhajZVPkAAAAAElFTkSuQmCC"
            alt="blue square" />
          <h1>Leo Krashanoff</h1>
        </td>
        <td class="ignore-align">
          <ul class="nodot">
            <li><i class="fa-brands fa-github-alt"></i> krashanoff</li>
            <li><i class="fa-brands fa-linkedin"></i> leonidrlk</li>
            <li><i class="fa-solid fa-envelope"></i> leo@krashanoff.com</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Experience</h2>
          {% for co in experience %}
          <h3><b>{{ co.company }}</b> - {{ co.location }}</h3>

          {% for job in co.positions %}
          <h4>
            <i>{{ job.position }}</i>, <date>{{ job.from }}</date> to <date>{{ job.to }}</date>
          </h4>
          <p>
            {{ job.about | markdown | safe }}
          </p>
          {% endfor %}
          {% endfor %}
          </p>

          <h2>Organizations</h2>
          {% for org in extra %}
          <h3><b>{{ org.org }}</b> - {{ org.location }}</h3>
          <div>{{ org.about | markdown | safe }}</div>
          {% endfor %}

          <h2>Projects</h2>
          {% for proj in projects %}
          <h3><b>{{ proj.name }}</b> - {{ proj.sub }}</h3>
          <div>{{ proj.about | markdown | safe }}</div>
          {% endfor %}
        </td>
        <td>
          <h2>Education</h2>
          <p class="spaced">
            <b>UCLA</b> - <i>B.S., Computer Science</i>
            <br />
            <date datetime="2018-09-01 00:00">September 2018</date> - <date datetime="2022-03-01 00:00">March 2022
            </date>
          </p>

          <h2>Competencies</h2>
          <ul class="nodot spaced">
            {% for thing in competencies %}
            <li>
              {{ thing.name }}
              <i>({{ thing.time | timeSinceYear }} yrs)</i>
            </li>
            {% endfor %}
          </ul>

          <h2>Technologies</h2>
          <ul class="nodot spaced">
            {% for thing in tech %}
            <li>
              {{ thing.name }}
              <i>({{ thing.time | timeSinceYear }} yrs)</i>
            </li>
            {% endfor %}
          </ul>

          <h2>Extracurriculars</h2>
          <ul class="nodot spaced-paras">
          {% for acc in accomplishments %}
          <li>{{ acc | markdown | safe }}</li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>