---
---
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta name='description' content='レオ・クラショナフ' />
        <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/base.css'>
    </head>

    <body>
        <div>
            <h1>{{ site.title }}</h1>
            <nav>
                <a href='{{ site.baseurl }}/'>about</a>
                <a href='{{ site.baseurl }}/blog'>blog</a>
                <a href='{{ site.baseurl }}/links'>links</a>
            </nav>
        </div>

        <div>
            {{ content }}
        </div>
    </body>
</html>