:root {
  --black: #040404;
  --white: #fefefe;
  --link: #4f55d1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  line-height: 1.25;
}

a, a:visited {
  color: var(--link);
}

ol li {
  line-height: 2;
}
ul li {
  line-height: 2;
}

/* footnotes */
ol li ul {
  list-style: lower-alpha;
}

body {
  margin: 2rem auto;
  padding: 0 3vw;
  max-width: 45rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  word-wrap: break-word;
  color: var(--black);
  background: var(--white);
}

footer {
  font-size: 0.75rem;
}

table {
  table-layout: fixed;
  border-spacing: 1rem;
}

article img,.mermaid {
  margin: auto;
  padding: 0.5rem;
  max-width: calc(100% - 1rem);
  border: 1px solid var(--black);
}

pre {
  overflow: auto;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--black);
}

blockquote {
  padding-left: 2rem;
  border-left: 0.5rem solid var(--black);
}

.no-list {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

.tags {
  list-style: none;
  padding: 0;
}

.tags:last-child {
  margin-right: 0;
}

.tags > li {
  display: inline-block;
  margin-right: 0.5rem;
}

.mermaid {
  background: var(--black);
  color: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #f0f0f0;
    --white: #0f0f0f;
  }
}
