---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag }}/
layout: "layouts/page.njk"

tag_descriptions:
  thoughts: "Things that I think 👍"
  software: |
    My first love.
  web: |
    Frontend development and notes about the World Wide Web.
  server: |
    The journey of the little server that could&trade;.
  cs101: |
    Special series on the basics of CS.
  cryptography: |
    Usually about standards.
---

<h1>#{{ tag }}</h1>

<ol class="no-list">
{% set taglist = collections[ tag ] %}
{% if tag_descriptions[tag] %}
  <p>{{ tag_descriptions[tag] | safe }}</p>
{% endif %}
{% for post in taglist | reverse %}
  {% if post.data.title %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <small><time>{{ post.data.date | datePlain }}</time></small>
  </li>
  {% endif %}
{% endfor %}
</ol>
